<div class="sets-history-section">
  @if (sortedSets().length > 0) {
    <table class="sets-table">
      <thead>
        <tr class="header-row">
          @for (set of sortedSets(); track set.id) {
            <th class="set-header">
              {{ set.sequence_in_match }}
            </th>
          }
          <!-- Wypełniacz dla wyrównania -->
          <th class="filler"></th>
        </tr>
      </thead>
      <tbody>
        <!-- Wiersz gracza -->
        <tr class="player-row">
          @for (set of sortedSets(); track set.id) {
            <td [class]="getPlayerScoreClass(set)">
              {{ set.set_score_player }}
            </td>
          }
          <td class="filler"></td>
        </tr>
        <!-- Wiersz rywala -->
        <tr class="opponent-row">
          @for (set of sortedSets(); track set.id) {
            <td [class]="getOpponentScoreClass(set)">
              {{ set.set_score_opponent }}
            </td>
          }
          <td class="filler"></td>
        </tr>
      </tbody>
    </table>
  }
</div>

