---
import Layout from "../layouts/Layout.astro";
import { CounterComponent } from "@/components/ui/counter.component";
---

<Layout title="Welcome to Astro.">
  <main class="mx-auto max-w-3xl py-12 px-4 space-y-8">
    <h1 class="text-3xl font-bold">Astro + Angular + Tailwind – starter</h1>

    <!-- Angular jako wysepka z hydratacją na kliencie -->
    <CounterComponent client:only="angular" />
  </main>
</Layout>
